* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    background-color: white;
}

header {
    text-align: left;
    line-height: 70px;
    background: lightblue;
}

nav {
    margin-top: -50px;
    text-align: right;  
}

.container {
    padding: 0 0 15px 0;
    background: #ebebeb;
    width: 495px;
    float: left;
    margin-bottom: 15px;
}

article {
    background: white;
    color: #ebebeb;
    float: left;
    width: 500px;
    height: 275px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: -20px;
}

.headings, .content p {
    line-height: 50px;
    margin-top: 5px;
    background: #ebebeb;
    color: #777;
}

.content {
    margin-top: -5px;
}

aside {
    float: right;
    width: 440px;
    height: 272px;
    background: #ebebeb;
}

footer {
    clear: both;
    background-color: white;
    width: 960px;
    margin: -50px;
    padding: 30px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}